*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 30px;
}
.nav-bar{
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: sticky;
    top:0;
    z-index: 2;
}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu {
    display: flex; 
    gap: 30px;    
}
.menu li a{
    color: white;
    padding: 20px;
    text-decoration: none;
}
.menu li a:hover{
    background-color: rgb(224, 240, 197);
    border-radius: 7px;
    color: rgb(4, 54, 59);
    padding: 10px;
}
.menu li a.active{
    background-color: rgb(224, 240, 197);
    border-radius: 7px;
    color: rgb(4, 54, 59);
    padding: 10px;
}
/* HAMBURGER */
#menu-check{
    display: none;
}
.menu-toggle{
    display: none;
    font-size: 28px;
    cursor: pointer;
}
/*humbugur menu*/
@media (max-width: 768px){ 
    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(43, 2, 43);
        text-align: center;
        padding: 15px 0;
    }
    /* KEY PART (works reliably) */
    #menu-check:checked ~ .menu{
        display: flex;
    }
    
    .menu-toggle{
        display: flex;
        flex-direction: column;
    }}
    /* HAMBURGER  end*/
    /*hero*/
        .hero_container{
            background: url(images/amanda-panda-unsplash.jpg) center top;
            background-size: cover;
            height: 500px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }
        .hero_content{
            margin-top:150px;
            margin-left: 20px;
            background-color: rgba(237, 235, 212, 0.4);
            border: 1px solid rgb(211, 208, 163);
            border-radius: 20px 50px;
            width: 400px;
            padding: 30px;
            text-align: center;
            color: rgb(4, 54, 59);
        }
        .btn{
            background-color: rgb(231, 228, 183);
            background: linear-gradient(to right, rgb(213, 245, 159), rgb(240, 204, 177), rgb(221, 245, 180));
            padding: 10px;
            border-radius: 7px;
            border: 1px solid darkolivegreen;
            box-shadow: 2px 3px 3px 2px gray;/* right/down/blur/spread*/
            margin-top: 10px;
        /*    animation: btn-move 3s linear infinite;*/ 
            transition: all 1s linear;          
        }
       .btn:hover{
            transform: scale(1.1);
            border: 1px solid rgb(45, 61, 16);
            border-radius: 12px;
            background: linear-gradient(to right, rgb(240, 204, 177), rgb(213, 245, 159),rgb(236, 209, 187));
        }
     /*    @keyframes btn-move {
            0%, 100%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.1);
                border: 1px solid darkgoldenrod;
                border-radius: 12px;
                background: linear-gradient(to right, rgb(213, 165, 128), rgb(230, 213, 172),rgb(213, 165, 128));
            }
        }*/
        .btn a{
            text-decoration: none;
            color: rgb(4, 54, 59);
        }
        /*content*/
        .intro{
            background-color: rgb(224, 240, 197);
            border-left: 7px solid darkolivegreen;
            border-radius: 20px;
            padding: 50px;
            margin: 20px 10px;
        }
        .intro p::first-letter{
            font-size: 30px;
        }
        .img-container{
            background-color: aliceblue;
            padding: 30px;
            margin: 30px 0px;
        }
        .img-card{
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 20px;
        }
        .img-card .image{
            flex: 1;
            margin: 10px;
            transition: all 0.5s;           
        }
        .img-card .image:hover{
            transform: translateX(-15px);
        }
        .image img{
            width: 100%;
            height: 250px;
            border: 2px solid darkolivegreen; 
            border-radius: 40px 20px;                      
        }
        .description{
            padding: 40px;
            background-color: rgb(224, 240, 197);
            border-radius: 10px;
            transition: all 0.5s;
        }
        .description:hover{
            transform: translateY(-15px);
        }
        .description h3{
            text-align: center;
        }
        .description a{
            color: darkblue;
            font-weight: bold;
        }
          /*FAQ*/
        .faq{
            background-color: aliceblue;
            padding: 30px;
            margin: 30px 0;
        }
        .faq-container{ 
            display: flex;
            justify-content: space-around;
            align-items:center;
            margin: 30px;
            gap: 30px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 5px 4px 4px 5px rgb(237, 235, 212); 
            padding: 20px; 
            margin: auto;
        }
        .faq-img, .faq-questions{
            flex: 1;
        }
        .faq-img img{
            width: 100%;;
        }
        .faq-questions details{
            background-color: rgb(224, 240, 197);
            border-bottom: 1px solid darkolivegreen;
            color: rgb(4, 54, 59);
            margin: 20px;
            padding: 10px;
        }
        .faq-questions h2{
            margin: 30px 0px;
        }
        .faq-questions p{
            background-color: white;
            border-left: 5px outset darkolivegreen;
            border-radius: 5px 25px;
            margin: 10px;
            padding: 20px;
        }
        .faq-questions summary{
            list-style: none;      /* remove the default arrow at left side(at the beginning of sentence)*/
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .faq-questions summary::after{ /* change the default arrow */
            content: " ❯❯❯ "; /* ❯ ▶ ➤ ➜ ❓ 💬 ❔*/
            color: darkolivegreen;
            transition: 0.5s;
        }
        .faq-questions details[open] summary::after {   /* rotate the arrow */
            transform: rotate(90deg);
        }
        /*End FAQ*/
        /*footer*/
        .footer{
            background-color: darkolivegreen;
            color: white;
            text-align: center;
            padding: 20px;
        }
        .footer-container{
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }
        .footer-container a{
            color: wheat;
            text-decoration: none;
        }
       .social-icons a{
            font-size: 25px;
            margin: 5px;
        }
        .facebook i {
            color: #1877f2; /* Facebook blue */
        }

        .twitter i {
            color: #1da1f2; /* Twitter blue */
        }

        .youtube i {
            color: #ff0000; /* YouTube red */
        }
        .instagram i {
            color: #e1306c; /* Instagram pink */
        }
        .social-icons a i:hover{
            transform: scale(1.2);
        }
        a:hover{
            color: peru;
        }
        @media (max-width:600px) {
            .footer-container{
                flex-direction: column;
            }
        }
        /*End Home Page*/
        /*Contact-Us page*/
        /*hero*/
        .contact_hero_container{
            background: url(images/flowers.jpg) no-repeat top center;
            background-size: cover;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: flex-start;

        }
        .contact_hero_content{
            width: 300px;
            background-color: rgba(237, 235, 212, 0.4);
            border: 1px solid rgb(211, 208, 163);
            border-radius: 10px;
            padding: 30px;
            text-align: center;
            color: rgb(4, 54, 59);
            margin-top: 20px;
        }
        .ad-container{
            background-color: aliceblue;
            padding: 30px;
            color: rgb(4, 54, 59);
        }
        .address-mail{
            width: 90%;
            display: flex;
            justify-content:space-evenly;
            align-items: flex-end;
        /*    background-color: rgb(224, 240, 197);*/
            background-color: white;
            border-radius: 30px;
            box-shadow: 5px 4px 3px 2px gray; 
            padding: 20px;
            margin: auto;
            gap: 30px;
        }
        .address{
            flex: 3;
            padding: 40px;
            font-size: 18px;
            line-height: 30px;
        }       
        .mail{
            flex: 4;
            padding: 20px;
        }
        form{
            border-radius: 10px;
            font-size: 20px;
        }
        form input, form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid rgb(224, 240, 197);
            border-radius: 5px;
            background-color: rgb(244, 247, 239);
        }
        .form-btn{
            background-color: rgb(244, 247, 239);
            padding: 10px;
            border: 1px solid darkolivegreen;
            border-radius: 10px;
            display: block;
            margin-top: 10px;
            margin-left: 79%;
            transition: all 0.5s linear;
        }
        .form-btn:hover{
            transform: translateX(-20px);
            color: white;
            background-color: darkolivegreen;
            border: 1px solid #ccc;
        }
        .location{
            background-color: aliceblue;
            padding: 30px;
            margin-top: 30px;
        }
        .location h1, .img-container h1, .our-profiles h1{
            width: fit-content;
            padding: 20px;
            background-color: #ccc;
            color: rgb(4, 54, 59);
            border-radius:15px;
            margin: auto;
            transition: all 0.5s linear;
        }
        .location h1:hover, .img-container h1:hover, .our-profiles h1:hover{
            transform: translateX(50px);
            background-color: darkolivegreen;
            color: white;
        }
        .map{
            width: 90%;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 5px 4px 3px 2px gray;
            margin: auto; 
        }        
        .map iframe{
            width: 100%;
            display: block;
            border-radius: 10px;                      
        }
        /*End Contact-Us page*/
        /*About us page*/
        /*Hero*/
        .about_hero_container{
            background: url(images/std_group.PNG) no-repeat center top;
            background-size: cover;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .about_hero_content{
            background-color: rgba(230, 230, 230, 0.4);
            border: 1px solid rgb(237, 202, 175);
            border-radius: 20px;
            padding: 30px;
            text-align: center;
            color: rgb(4, 54, 59);
            line-height: 40px;
            margin-top: 20px;
        }
        .ab-container{
            background-color: aliceblue;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 30px 0;
            padding: 30px;
        }
        .m-v-d-e{
            flex: 1;
            background-color: rgb(255, 255, 255);
            border: 2px outset darkolivegreen;
            border-left: 7px outset darkolivegreen;
            border-radius: 20px 50px;
            padding: 40px;
            margin: 20px;
            transition: all 0.5s;
        }
        .m-v-d-e:hover{
            transform: translateY(-20px);
            background-color: rgb(224, 240, 197)
        }
        .m-v-d-e p::first-letter{
            font-size: 30px;
        }
        .our-profiles{
            background-color: aliceblue;
            margin: 30px 0;
            padding: 30px;
        }
        .profile-container{   
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 50px;
            padding: 30px;
        }
        .std-profile{
            background-color: rgb(255, 255, 255);
            color: rgb(4, 54, 59);
            border: 1px outset darkolivegreen;
            border-radius: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 30px;
            padding: 50px;
            transition: all 0.5s linear;
        }
        .std-profile:hover{
            transform: translateX(20px);
            background-color: rgb(224, 240, 197);
        }
        .std-profile img{
            width: 150px;
            height: 150px;
            border: 1px solid  rgb(101, 136, 40);
            border-radius: 50%;
            box-shadow: 5px 4px 3px 2px gray; 
            transition: all 0.5s linear;
        }
        .std-profile img:hover{
            transform: scale(1.1);
            border: 1px solid  rgb(46, 70, 5);
            box-shadow: 5px 4px 3px 2px rgb(182, 155, 102); 
        }
        /*End About us*/
        /*responsive_ Media Query*/
         @media (max-width:768px) {
            .img-card, .address-mail, .faq-container, .ab-container, .profile-container{
                flex-direction: column;
            } 
            .address, .mail, .faq-img, .faq-questions{
                width: 100%;
            }       
        }